body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#input_modalities {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; /* Add padding between elements */
}

#video, #canvas {
    background: #f0f0f0; /* Light gray background */
    border: 1px solid #ccc; /* Optional: Add a border for better visibility */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow for better visibility */
}

#rock_choices {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.personality-choice {
    width: 100px;  /* Adjust size as needed */
    height: 100px; /* Adjust size as needed */
    margin: 0 10px;
    cursor: pointer;
    border: 3px solid transparent;
    border-radius: 15px;
    transition: border-color 0.3s;
}

.personality-choice.selected {
    border-color: orange;
}

#rock_desc {
    margin-bottom: 20px;
}

.loading-gif {
    /* Change size as needed */
    width: 200px;
    height: 150px;

    /* Change location as needed */
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

/* Style for buttons */
button, .file-input-wrapper {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover, .file-input-wrapper:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

button:active, .file-input-wrapper:active {
    background-color: #004494;
    transform: scale(1);
}

input[type="file"] {
    display: none;
}

input[type="file"] + label {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

input[type="file"] + label:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

input[type="file"] + label:active {
    background-color: #004494;
    transform: scale(1);
}

#upload_box {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}
