h1 {
    border: 2px #eee solid;
    color: brown;
    text-align: center;
    padding: 10px;
}

body{
    text-align: center;
    padding: 20px;
    font-family: Arial, sans-serif;
}

#video, #canvas {
    margin-bottom: 10px;
}

.personality-choice {
    width: 100px;
}

.loading-gif {
    /* Change size as needed */
    width: 200px;
    height: 150px;

    /* Change location as needed */
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}