h1 {
    border: 2px #eee solid;
    color: brown;
    text-align: center;
    padding: 10px;
}

body{
    text-align: center;
    padding: 20px;
    font-family: Arial, sans-serif;
}

#video, #canvas {
    margin-bottom: 10px;
}