<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple UI</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    
    <form action="/handle_input" method="POST" enctype="multipart/form-data">

        <input type="text" id="input-data" name = 'text' placeholder="What do you want to say?">
        <div id="processed-data"></div>


        <input type="file" name="file">
        <div id="uploaded-image"></div>

        <button id="process-data-btn">Ask The Rock</button>
        
    </form>

    <div id = 'output' class='output'>

        <p>{{ g.petrock_response }}</p>

    </div>
    
</body>
</html>