<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Petrock!</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    
    <div id="rock_wall">
        <div id="rock_choices"></div>
        <div id="rock_desc">This petrock is {{ vibe }}; its purpose is {{ purpose }}.</div>
    </div>
    <div class="container">
        
        <div id="input_modalities"> <!-- Input modalities. -->
            <h1>Webcam Upload</h1>
            <video id="video" autoplay></video>
            <canvas id="canvas" width="640" height="480"></canvas>
            
            <input type="file" name = "upload" accept="image/*" id="fileInput" >
            
            
            <button id="snap">Capture for the rock</button>
        
               
            <button id="process">Ask The Rock</button>
        </div> <!-- End of image_upload. -->

             <!-- Output. -->
        <div id='output' class='output'>
            <!-- Flash error message if wrong file type is entered -->
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
            {% endwith %}
            
            <p id="caption"></p>
            
        </div>

    <script>
        //starts webcam
        async function startWebcam() {
            try {
                const stream = await navigator.mediaDevices.getUserMedia({ video: true });
                const video = document.getElementById('video');
                video.srcObject = stream;
            } catch (err) {
                console.error('Error accessing webcam: ', err);
            }
        }
    
            const fileInput = document.getElementById('fileInput');
            const canvas = document.getElementById('canvas');
            const context = canvas.getContext('2d');

            //Displays selected local file to canvas 
            fileInput.addEventListener('change', (event) => {
                const file = event.target.files[0];
                
                if (file) {
                    const reader = new FileReader();
                    
                    reader.onload = function(e) {
                        const img = new Image();
                        img.onload = function() {
                           // const aspectRatio = img.width / img.height;
                            // const height = 480 / aspectRatio;
                            // canvas.width = 640;
                            // canvas.height = 480;
                            context.drawImage(img, 0, 0, 640, 480);
                        };
                        img.src = e.target.result;
                    }
                    
                    reader.readAsDataURL(file);
                }
            });

 
        

        //Webcam image
        const video = document.getElementById('video');
        const snap = document.getElementById("snap");

        navigator.mediaDevices.getUserMedia({ video: true })
            .then((stream) => {
                video.srcObject = stream;
            })
            .catch((err) => {
                console.error("[ERROR] Cannot access webcam:", err);
            });
        //displays webcam image on canvas 
        snap.addEventListener("click", () => {
            context.drawImage(video, 0, 0, 640, 480);
        });


        //sends image on canvas to flask
        process.addEventListener("click", () => {
            const captionText = document.getElementById("caption");
            const imageData = canvas.toDataURL('image/jpeg');
            
            fetch('/handle_capture', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ image: imageData })
            })

            .then(response => response.json())
                .then(data => {
                    captionText.textContent = `Caption: ${data.caption}`;
                 })

            .catch((error) => {
                console.error('Error:', error);
            });
        });




        // Start the webcam when the page loads
        window.onload = startWebcam;
    </script>
  


        </div> 
       

</body>
</html>
